<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <paths>
    <media-path>work/media/</media-path>
    <log-path>work/log/</log-path>
    <data-path>work/data/</data-path>
    <template-path>work/template/</template-path>
    <font-path>work/font/</font-path>
  </paths>
  <lock-clear-phrase>secret</lock-clear-phrase>
  <channels>
    <channel>
      <video-mode>720p3000</video-mode>
      <consumers>
        <newtek-ivga />
      </consumers>
    </channel>
    <channel>
      <video-mode>720p3000</video-mode>
      <consumers>
        <newtek-ivga />
      </consumers>
    </channel>
  </channels>
  <controllers>
    <tcp>
      <port>5250</port>
      <protocol>AMCP</protocol>
    </tcp>
  </controllers>
  <amcp>
    <media-server>
      <host>localhost</host>
      <port>8000</port>
    </media-server>
  </amcp>
</configuration>
